<<<<<<< HEAD
.fondo {
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-color {
    color: white;
}

.section-center{
    text-align: center;
}

.imagen-logos{
    width: 200px;
    height: 200px;
    margin-bottom: 12px;
    margin-top: 12px;
}
=======
.fondo {
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-color {
    color: white;
}
>>>>>>> eb15257e4c98aeb81531c970c9860ff9b574d64a
